html, body, section, aside {
    height:100vh;
}
.noDisplay{
    display:none;
}
.yesDisplay{
    display:initial;
}
body {
    font-family:Josefin Slab;
    margin:0px 16px;
}

header{
    margin:0px; 
    padding:0px;
    text-align:center;
}
nav{
    background-color:grey;
    border:1px solid black;
    margin:0px;
    min-width:408px; 
    padding:0px;
}
nav ul{
    text-align:center;
    list-style-type:none;
    padding:0;
    overflow:hidden;
    margin:0;
    width:100%;
    box-sizing:border-box;
}
nav li {
    float:left;
    width:14.28%;
    min-width:100px;
}
nav a{
    color:white;
    padding-top:12px;
    text-decoration:none;
    font-size:x-large;
    height:40px;
    display:block;
}
nav a:hover, a:active{
    background-color:rgba(180, 60, 180, 0.9);
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
h1 {
    font-size: 5em;
    margin:0px; 
}

h2 {
    font-size: 1.75em;
    margin:0px; 
}
h3 {
    font-size: 1.2em;
    margin:0px; 
}

h4{
    font-family:"Waiting for the Sunrise";
    font-size:28pt;
    text-align:center;
    margin:0;
}

h5, h6 {
    font-size: 1em;
    margin:0px; 
}

hr{color:rgb(180, 60, 180);}

.alert {
    color:red;
    font-weight:bold;
}

/* main layout
----------------------------------------------------------*/
.link:hover{
    background-color:rgba(180, 60, 180, 0.75);
}
.title-link{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
    font-weight:bold;
}
.title-link:hover{
    background-color:rgba(180, 60, 180, 0.9);
}

aside{
    float:left;
    min-width:180px;
    max-width:200px;
    min-height:100vh;
    background-color:lightgrey;
    margin:0px 8px 0px 0px;
    padding:0px;
    line-height:28px;
    text-align:center;
    box-sizing:border-box;
    overflow:auto;
    min-height:100vh;
}
aside ul{
    margin:0px;
    padding:0px;
    list-style-type:none;
}
aside ul p.store{
    font-weight:bold;
    border-bottom:1px solid grey;
}
aside.stores{
    float:right;
    height:initial;
}
.noHighlight:hover{
    background-color:initial;
}
aside li {
    width: 100%;
    display: block;
    color: black;
    font-size: 17pt;
}
aside li.title{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
    font-weight:bold;
}
aside li.title:hover{
    background-color:initial;
}

aside li.lineBottom:last-child{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
}
aside li.lineTop{
    border-top:2px solid rgba(180, 60, 180, 0.9);
}
li.stores:last-child{
    border-bottom:1px solid grey;
}
aside li.ingredient:last-child{
        border-bottom:1px solid grey;
}
aside a{
    text-decoration:none;
    padding:0px 8px;
    color:black;
    font-size:17pt;
}

aside p{
    margin:0px;
    padding:0px;
}
article{
    width:calc(100% - 210px);
    float:left;
}
section{
    margin:0px; 
    padding:0px;
    box-sizing:border-box;
}
section textarea{
    min-width:250px;
    height:20px;
}
section ul{
    font-size:large;
}

table.recipe{
    width:100%;
    box-sizing:border-box;
    /*border-collapse:collapse;*/
    box-sizing:border-box;
    font-size:14pt;
    float:left;
}
table.recipe form{
    border:1px solid black;
}

table.recipe p{
    font-weight:bold;
}
table.recipe table,th,tr,td{
    border:1px solid black;
}
table.recipe th{
    font-size:24pt;
    padding:8px;
    text-align:center;
}
table.recipe textarea{
    width:100%; 
    box-sizing:border-box;
    font-family:Josefin Slab;
    height:20px;
}
table.recipe textarea.recipeName{
    font-size:x-large;
    text-align:center;
    height:40px;
    font-weight:inherit;
}
table.recipe ul.ingredient{
    font-weight:normal;
    text-align:left;
}

.selected{
    background-color:rgba(180, 60, 180, 0.75)
}

td.steps{
min-width:250px;
max-width:400px;
}
table.store{
    float:left;
    min-width: 250px;
}
table.store th{
    font-size:x-large;
}
table.store p{ 
    font-weight:bold;
}
table.store td.delete{
    font-weight:bold;
    text-align:center;
}

.content-wrapper {
    margin: 0 auto;
}

.main-content {
    padding-left: 10px;
    padding-top: 30px;

}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;

}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}
/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 800px) {

    /* Nav
    ----------------------------------------------------------*/
    nav .float-left,
    nav .float-right {
        float: none;
    }

    /* logo */
    nav .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {

    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }
    footer {
        text-align: center;
        padding: 10px 0;
    }
    footer p {
        margin: 0;
    }
}
