html, body {
    font-family: Josefin Slab;
    margin: 0;
}

header{
    margin:0; 
    padding:0;
    text-align:center;
}
nav{
    background-color:grey;
    border:1px solid black;
    margin:0px;
    padding:0px;
}
nav ul{
    text-align:center;
    list-style-type:none;
    padding:0;
    overflow:hidden;
    margin:0;
    width:100%;
    box-sizing:border-box;
}
nav li {
    float:left;
    width:14.28%;
    min-width:100px;
}
nav a{
    color:white;
    padding-top:12px;
    text-decoration:none;
    font-size:x-large;
    height:40px;
    display:block;
}
nav a:hover, a:active{
    background-color:rgba(180, 60, 180, 0.9);
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
h1 {
    font-size: 5em;
    margin:0px; 
}

h2 {
    font-size: 1.75em;
    margin:0px; 
}
h3 {
    font-size: 1.2em;
    margin:0px; 
}

h4{
    font-family:"Waiting for the Sunrise";
    font-size:28pt;
    text-align:center;
    margin:0;
}

h5, h6 {
    font-size: 1em;
    margin:0px; 
}

hr{color:rgb(180, 60, 180);}

.alert {
    color:red;
    font-weight:bold;
}

/* main layout
----------------------------------------------------------*/
.link:hover{
    background-color: rgba(180, 60, 180, 0.75);
}

.purple-back {
    background-color: rgba(180, 60, 180, 0.75);
}
.title-link{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
    font-weight:bold;
}
.title-link:hover{
    background-color:rgba(180, 60, 180, 0.9);
}

aside{
    float: left;
    width: 200px;
    height: 100%;
    background-color:lightgrey;
    margin: 0;
    padding: 4px;
    line-height:28px;
    text-align:center;
    box-sizing:border-box;
    overflow:auto;
}
aside ul{
    margin:0px;
    padding:0px;
    list-style-type:none;
}
aside ul p.store{
    font-weight:bold;
    border-bottom:1px solid grey;
}
aside.stores{
    float:right;
}
.noHighlight:hover{
    background-color:initial;
}
aside li {
    width: 100%;
    display: block;
    color: black;
    font-size: 17pt;
}
aside li.title{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
    font-weight:bold;
}
aside li.title:hover{
    background-color:initial;
}

aside li.lineBottom:last-child{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
}
aside li.lineTop{
    border-top:2px solid rgba(180, 60, 180, 0.9);
}
li.stores:last-child{
    border-bottom:1px solid grey;
}
aside li.ingredient:last-child{
        border-bottom:1px solid grey;
}
aside a{
    text-decoration:none;
    padding:0px 8px;
    color:black;
    font-size:17pt;
}

aside p{
    margin:0px;
    padding:0px;
}
section{
    margin:0px; 
    padding:0px;
    box-sizing:border-box;
}
section.home {
    padding: 10px;
}

section textarea{
    min-width:250px;
    height:20px;
}
section ul{
    font-size:large;
}
article {
    height: 100%;
    overflow: auto;
}

table{
    font-size:14pt;
    width: 100%;
}
table.recipe form{
    border:1px solid black;
}
table.recipe p{
    font-weight:bold;
}
table.recipe table,th,tr,td{
    border:1px solid black;
}
table th{
    font-size:24pt;
    padding:8px;
    text-align:center;
}
table.recipe textarea{
    width:100%; 
    box-sizing:border-box;
    font-family:Josefin Slab;
    height:20px;
}
table.recipe textarea.recipeName{
    font-size:x-large;
    text-align:center;
    height:40px;
    font-weight:inherit;
}
table.recipe ul.ingredient{
    font-weight:normal;
    text-align:left;
}

table.recipe ul.ingredients li{
    margin: 5px 0;
}

table.recipe .stat {
    margin: 10px 0;
}

.selected{
    background-color:rgba(180, 60, 180, 0.75)
}

td.steps{
min-width:250px;
max-width:400px;
}

td.steps li {
    margin: 5px 0;
}

table.store p{ 
    font-weight:bold;
}
table.store td.delete{
    font-weight:bold;
    text-align:center;
}


/* site title
----------------------------------------------------------*/

/* login
----------------------------------------------------------*/

/* menu
----------------------------------------------------------*/

/* page elements
----------------------------------------------------------*/
/* featured */

/* features */

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* forms */

/* info and errors */


/* tables
----------------------------------------------------------*/

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 800px) {

    /* Nav
    ----------------------------------------------------------*/

    /* logo */

    /* login */

    /* menu */

    /* main layout
    ----------------------------------------------------------*/
    article {

    }


    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */

    /* forms */

    /* login page */

    /* footer
    ----------------------------------------------------------*/
}
