section.recipes {
    aside {
        float: left;
        position: relative;

        &.collapse {
            width: 35px;

            .triangle {
                transform: rotate(180deg);
            }
        }

        .triangle {
            position: absolute;
            top: 4px;
            right: 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 25px 12.5px 0;
            border-color: transparent #333 transparent transparent;
            cursor: pointer;
        }

        .type {
            border: solid grey;
            border-width: 1px 0;
            margin: 0 4px;

            .recipes {
                border: dashed grey;
                border-width: 1px 0;
                margin: 0 4px;
            }
        }
    }

    article {
        width: calc(100% - 250px);

        &.expand {
            width: calc(100% - 35px);
        }

        table.recipe {
            width: 100%;

            th {
                textarea {
                    min-width: 250px;
                    width: calc(100% - 6px);
                    font-family: Josefin Slab;
                    font-size: 24px;
                    text-align: center;
                    height: 24px;
                }
            }

            td {
                textarea {
                    width: calc(100% - 2px);
                    padding: 0px;
                }

                &.steps {
                    min-width: 250px;
                    max-width: 400px;

                    li {
                        margin: 5px 0;
                    }
                }
            }

            p {
                font-weight: 700;
            }

            a {
                text-decoration: none;
                color: black;
            }

            form {
                border: 1px solid black;
            }

            .stat {
                margin: 10px 0;
            }

            ul.ingredients li {
                margin: 5px 0;
            }
        }
    }
}
