section.recipes {
    aside {
        float: left;
        .type {
            border: solid grey;
            border-width: 1px 0;
            margin: 0 4px;

            .recipes {
                border: dashed grey;
                border-width: 1px 0;
                margin: 0 4px;
            }
        }
    }

    article {
        width: calc(100% - 250px);
    }
}
