@{
    ViewBag.Title = "Artful Recipes";
}
<section ng-controller="recipeCtrl">
    <aside>
        <ul>
            <li class="title">Recipes</li>
            <li class="lineBottom" ng-repeat="x in recipes" ng-click="selectRecipe($index);">
                <a href="">{{x.name}}</a>
            </li>
        </ul>
        <ul>
            <li><a ng-hide="showEditingTable" ng-click="addRecipe()">Add Recipe</a></li>
            <li><a ng-show="showDisplayTable" ng-click="editRecipe()">Edit Recipe</a></li>
            <li><a ng-show="showEditingTable" ng-click="saveRecipe()">Save Recipe</a></li>
            <li><a ng-show="showDisplayTable" ng-click="removeRecipe()">Remove Recipe</a></li>
        </ul>
    </aside>
    <article>
        @*<button ng-click="getFromJSON()">get from JSON</button>
            <button ng-click="seedData()">send data to Mongo</button>*@
        <h4>@ViewBag.Title</h4>
        <p><b>The Idea: </b>Click a recipe to view, edit or delete.  Or create a new recipe by using the copy and paste feature or manually inputting a recipe.</p>
        <br style="height:22px" ng-show="showTable" />
        <!--Display Table-->
        <table class="recipe" ng-show="showDisplayTable">
            <tr>
                <th colspan="2">
                    {{selectedRecipe.name}}
                </th>
            </tr>
            <tr>
                <td rowspan="2">
                    <p>Ingredients:</p>
                    <ul id="ingredient">
                        <li ng-repeat="x in selectedRecipe.ingredients">
                            <span>{{x.count[0]}}</span>
                            <span ng-hide="x.count[1]==0"> {{x.count[1]}}/{{x.count[2]}}</span>
                            <span> </span>
                            <span>{{x.unit}}</span>
                            <span> </span>
                            <span>{{x.name}}</span>
                        </li>
                    </ul>
                </td>
                <td class="steps">
                    <p>Prep Instructions:</p>
                    <ol>
                        <li ng-repeat="x in selectedRecipe.prep">
                            {{x.step}}
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td class="steps">
                    <p>Cooking Instructions:</p>
                    <ol>
                        <li ng-repeat="x in selectedRecipe.cook">
                            {{x.step}}
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
        <!--Editing Table-->
        <table class="recipe" ng-show="showEditingTable">
            <tr>
                <th colspan="2">
                    <textarea class="recipeName" placeholder="Recipe name" ng-model="editingRecipe.name"></textarea>
                </th>
            </tr>
            <tr>
                <td rowspan="2">
                    <form>
                        <textarea placeholder='Copy and paste ingredients here, i.e. "3 oz butter"' ng-model="textIngredients" style="height:auto"></textarea>
                        <button ng-click="addTextIngredients()">add</button>
                    </form>
                    <p>Ingredients:</p>
                    <ul id="ingredient">
                        <li ng-repeat="x in editingRecipe.ingredients">
                            <span ng-click="selectEditingIngredient($index)" class="link">
                                <span ng-hide="x.count[0]==0">{{x.count[0]}}</span>
                                <span ng-hide="x.count[1]==0"> {{x.count[1]}}/{{x.count[2]}}</span>
                                <span> </span>
                                <span>{{x.unit}}</span>
                                <span> </span>
                                <span>{{x.name}}</span>
                            </span>
                        </li>
                    </ul>
                    <hr />
                    <form>
                        <input type="number" step="any" style="width:40px" min="0" ng-model="newIngredientCount[0]" />and
                        <input type="number" style="width:30px" min="0" ng-model="newIngredientCount[1]" />/
                        <input type="number" style="width:30px" min="2" ng-model="newIngredientCount[2]" />
                        <select ng-model="newIngredientUnit">
                            <option value="" disabled selected style="display:none;">Unit</option>
                            <option value="fl. oz.">Fluid Ounce</option>
                            <option value="tsp.">Teaspoon</option>
                            <option value="tbsp.">Tablespoon</option>
                            <option value="cup">Cup</option>
                            <option value="gal.">Gallon</option>
                            <option value="ml.">Milliliter</option>
                            <option value="l.">Liter</option>
                            <option value="oz.">Ounce</option>
                            <option value="lb.">Pound</option>
                            <option value="g.">Gram</option>
                            <option value="kg.">Kilogram</option>
                            <option value="">None</option>
                        </select>
                        <input type="text" style="height:20px" ng-model="newIngredientName" placeholder="New Ingredient" />
                        <button ng-hide="editingIngredient" ng-click="addIngredient()">add</button>
                        <button ng-show="editingIngredient" ng-click="saveIngredient()">save</button>
                    </form>
                    <form>
                        <span ng-show="editingIngredient && editingIngredientIndex!=(editingRecipe.ingredients.length-1)" title="move ingredient down"><a href="" ng-click="moveIngredientDown()">down</a></span>
                        <span ng-show="editingIngredient" title="delete"><a href="" ng-click="removeIngredient()"><img src="../Images/deleteIcon.png" alt="delete item" height="15" width="15" /></a></span>
                        <span ng-show="editingIngredient && editingIngredientIndex!=0" title="move ingredient up"><a href="" ng-click="moveIngredientUp()">up</a></span>
                    </form>
                </td>
                <td class="steps">
                    <p>Prep Instructions:</p>
                    <ol>
                        <li ng-repeat="x in editingRecipe.prep" ng-click="selectEditingPrep($index)">
                            <span class="link">{{x.step}}</span>
                        </li>
                    </ol>
                    <hr />
                    <form>
                        <input type="text" ng-model="newPrepStep" placeholder="New Prep Step" />
                        <button ng-click="addPrepStep()">add</button>
                    </form>
                    <form>
                        <span ng-show="editingPrep && editingPrepIndex!=(editingRecipe.prep.length-1)" title="move prep step down"><a href="" ng-click="movePrepDown(editingPrepIndex)">down</a></span>
                        <span ng-show="editingPrep"><a href="" ng-click="removePrep(editingPrepIndex);"><img src="../Images/deleteIcon.png" alt="delete item" height="15" width="15" /></a></span>
                        <span ng-show="editingPrep && editingPrepIndex!=0" title="move prep step up"><a href="" ng-click="movePrepUp(editingPrepIndex)">up</a></span>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="steps">
                    <p>Cooking Instructions:</p>
                    <ol>
                        <li ng-repeat="x in editingRecipe.cook" ng-click="selectEditingCook($index)">
                            <span class="link">{{x.step}}</span>
                        </li>
                    </ol>
                    <hr />
                    <form>
                        <input type="text" ng-model="newCookStep" placeholder="New Cook Step" />
                        <button ng-click="addCookStep()">add</button>
                    </form>
                    <form>
                        <span ng-show="editingCook && editingCookIndex!=(editingRecipe.cook.length-1)" title="move cook step down"><a href="" ng-click="moveCookDown(editingCookIndex)">down</a></span>
                        <span ng-show="editingCook"><a href="" ng-click="removeCook(editingCookIndex);"><img src="../Images/deleteIcon.png" alt="delete item" height="15" width="15" /></a></span>
                        <span ng-show="editingCook && editingCookIndex!=0" title="move cook step up"><a href="" ng-click="moveCookUp(editingCookIndex)">up</a></span>
                    </form>
                </td>
            </tr>
        </table>
    </article>
</section>
