@{
}
    <section ng-controller="storeCtrl">
        <aside>
            <ul>
                <li class="title">Recipes</li>
                <li class="lineBottom noHighlight" ng-repeat="x in recipes">
                    {{x.name}}
                    <input type="checkbox" ng-model="x.included" ng-click="updateStoreIngredientList()" />
                    <div ng-show="x.included">
                        <button ng-click="decrementRecipe($index)" style="height:1.5em;width:1.5em;">-</button><span> {{x.multiplier}} </span><button ng-click="incrementRecipe($index)" style="height:1.5em;width:1.5em;"> +</button>
                    </div>
                </li>
            </ul>
            <ul>
                <li ><a href="" ng-click="saveRecipes()">Save</a></li>
            </ul>
        </aside>
        <aside class="stores">
            <ul>
                <li class="title">Ingredients</li>
                <li class="noHighlight" ng-repeat="x in ingredients">
                    <p>{{x.name}} <button ng-show="storeIsClicked[$index]" ng-click="toggleStoreIsClicked($index)">x</button></p>@*Ingredient name and close button*@
                    <ul style="border-bottom:1px solid grey">
                        <li ng-repeat="n in stores" ng-show="($index == x.store && !storeIsClicked[$parent.$index])" ng-click="toggleStoreIsClicked($parent.$index)"><a href="">{{n.name}}</a></li>@*assigned store*@
                        <li ng-show="x.store==-1 && !storeIsClicked[$index]" ng-click="toggleStoreIsClicked($index)"><a href="">Default</a></li>@*show if assigned default i.e. (store==-1)*@
                        <li ng-repeat="n in stores" ng-show="storeIsClicked[$parent.$index]" ng-click="updateIngredientStore($parent.$index, $index)"><a href="">~ {{n.name}} ~</a></li>@*store list*@
                        <li ng-show="storeIsClicked[$index]" ng-click="updateIngredientStore($index, -1)"><a href="">~ Default ~</a></li> @*assign ingredient to default store*@
                    </ul>
            </ul>
            <ul>
                <li class="lineTop"><a href="" ng-click="addStore()">Add Store</a></li>
            </ul>
        </aside>
        <article>
            @*<button ng-click="getFromJSON()">get from JSON</button>
            <button ng-click="setStoreIngredientList()">set list</button>
            <button ng-click="updateStoreIngredientList()">update list</button>
            <button ng-click="showStuff()">show stuff</button>*@
            <h4>Artful Shopping Lists</h4>
            <p><b>The Idea:</b> Select a recipe on the left. Multiply as desired. If you shop at more than one store, assign each ingredient to a store on the right. Then view the grocery list for each store.</p>
            <p ng-show="defaultStoreIndex === -1" class="alert">You have no default store. Please set a default store.</p>
            <table ng-repeat="x in storeIngredientList" class="store">
                <tr>
                    <th>{{x.name}}
                        <span ng-show="x.defaultStore">(default)</span>
                    </th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li ng-repeat="n in x.ingredients">
                                {{n.count[0]+n.count[1]/n.count[2] | number:2 | number}}
                                @*<span>{{n.count[0]}}</span>
                                <span ng-hide="n.count[1]==0"> {{n.count[1]}}/{{n.count[2]}}</span>*@
                                {{n.unit}}
                                {{n.name}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="delete">
                        <a href="" ng-click="deleteStore($index)">Delete store</a>
                        <br />
                        <a href="" ng-click="setDefault($index)">Set as default</a>
                    </td>
                </tr>
            </table>
        </article>
    </section>
