@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Artful Shopper</title>
</head>
<body ng-app="storeApp">
    <section ng-controller="storeCtrl">
        <aside>
            <ul>
                <li id="lineBottom" ng-repeat="x in recipes">
                    {{x.name}}
                    <input type="checkbox" ng-model="x.included" ng-click="updateStoreIngredientList()" />
                    <div ng-show="x.included">
                        multiply by... <input type="number" min="1" value="1" ng-model="x.multiplier" ng-click="updateStoreIngredientList()" style="width:32px;" />
                    </div>
                </li>
            </ul>
            <ul>
                <li><a href="">Add Store</a></li>
                <li><a href="" ng-click="save()">Save</a></li>
            </ul>
        </aside>
        <article>
            <h4>Artful Shopping Lists</h4>
            <p><b>The Idea:</b> Select a recipe on the left. Multiply as desired. Then view the grocery list for each store.</p>
            <table ng-repeat="x in newStoreIngredients" class="store">
                <tr>
                    <th>{{x.name}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li ng-repeat="x in x.ingredients">
                                {{x.count}}
                                {{x.unit}}
                                {{x.ingredient}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table ng-repeat="x in storeIngredientsScope" class="store">
                <tr>
                    <th>{{x.name}}</th>
                </tr>
                <tr>
                    <th>storeIngredients</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li ng-repeat="x in x.ingredients">
                                {{x.count}}
                                {{x.unit}}
                                {{x.ingredient}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </article>
    </section>
</body>
</html>
