<section ng-controller="recipeCtrl" class="recipes">
    <aside class="clearfix">
        <p class="title">Recipes</p>
        <p><a href="" ng-click="selectSortType('letter')" ng-class="{bold : byLetter}">by Letter</a></p>
        <div class="type" ng-show="byLetter">
            <div ng-repeat="letter in alphabet" ng-show="letterHasRecipes(letter)">
                <p><a href="" ng-click="selectLetter(letter)" ng-class="{bold : selectedLetter === letter}">{{letter}}</a></p>
                <ul class="recipes" ng-show="selectedLetter === letter">
                    <li ng-repeat="recipe in recipes | orderBy : 'name'" ng-class="{'selected' : recipe._id === selectedRecipe._id}" ng-if="recipeInLetter(recipe.name, letter)">
                        <a href="" ng-click="selectRecipe(recipe._id)">{{recipe.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <p><a href="" ng-click="selectSortType('meal')" ng-class="{bold : byMeal}">by Meal</a></p>
        <div class="type" ng-show="byMeal">
            <div ng-repeat="meal in meals" ng-show="mealHasRecipes(meal)">
                <p><a href="" ng-click="selectMeal(meal)">{{meal}}</a></p>
                <ul class="recipes" ng-show="selectedMeal === meal">
                    <li ng-repeat="recipe in recipes | orderBy : 'name'" ng-class="{'selected' : recipe._id === selectedRecipe._id}" ng-if="recipe.stats.meal === meal">
                        <a href="" ng-click="selectRecipe(recipe._id)">{{recipe.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <p><a href="" ng-click="selectSortType('meat')" ng-class="{bold : byMeat}">by Meat</a></p>
        <div class="type" ng-show="byMeat">
            <div ng-repeat="meat in meats" ng-show="meatHasRecipes(meat)">
                <p><a href="" ng-click="selectMeat(meat)">{{meat}}</a></p>
                <ul class="recipes" ng-show="selectedMeat === meat">
                    <li ng-repeat="recipe in recipes | orderBy : 'name'" ng-class="{'selected' : recipe._id === selectedRecipe._id}" ng-if="recipe.stats.meat === meat">
                        <a href="" ng-click="selectRecipe(recipe._id)">{{recipe.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="menu">
            <li><a href="" ng-hide="showEditingTable" ng-click="addRecipe()">Add Recipe</a></li>
            <li><a href="" ng-show="showDisplayTable" ng-click="editRecipe()">Edit Recipe</a></li>
            <li><a href="" ng-show="showEditingTable" ng-click="saveRecipe()">Save Recipe</a></li>
            <li><a href="" ng-show="showDisplayTable" ng-click="removeRecipe()">Remove Recipe</a></li>
        </ul>
    </aside>
    <article>
        <h4>@ViewBag.Title</h4>
        <h4 ng-show="loading"><img src="../Images/loading.gif" width="49" height="50" /></h4>
        <p><b>The Idea: </b>Click a recipe to view, edit or delete.  Or create a new recipe by using the copy and paste feature or manually inputting a recipe.</p>
        <!--Display Table-->
        <table class="recipe" ng-show="showDisplayTable">
            <tr>
                <th colspan="2">
                    {{selectedRecipe.name}}
                </th>
            </tr>
            <tr>
                <td rowspan="2">
                    <p>Ingredients:</p>
                    <ul>
                        <li ng-repeat="ingredient in selectedRecipe.ingredients">
                            <span>{{ingredient.count[0]}}</span>
                            <span ng-hide="ingredient.count[1]==0"> {{ingredient.count[1]}}/{{ingredient.count[2]}}</span>
                            <span> </span>
                            <span>{{ingredient.unit}}</span>
                            <span> </span>
                            <span>{{ingredient.name}}</span>
                        </li>
                    </ul>
                </td>
                <td class="stats">
                    <p>Stats:</p>
                    <ul>
                        <li>Meal: {{selectedRecipe.stats.meal}}</li>
                        <li>Meat: {{selectedRecipe.stats.meat}}</li>
                        <li>Prep Time: {{selectedRecipe.stats.prepTime}}</li>
                        <li>Cook Time: {{selectedRecipe.stats.cookTime}}</li>
                        <li>Total Time: {{selectedRecipe.stats.totalTime}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="steps">
                    <p>Instructions:</p>
                    <ol>
                        <li ng-repeat="step in selectedRecipe.steps">
                            {{step}}
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
        <!--Editing Table-->
        <table class="recipe" ng-show="showEditingTable">
            <tr>
                <th colspan="2">
                    <textarea placeholder="Recipe name" ng-model="editingRecipe.name"></textarea>
                </th>
            </tr>
            <tr>
                <td rowspan="2">
                    <form>
                        <textarea placeholder='Copy and paste ingredients here, i.e. "3 oz butter"' ng-model="textIngredients"></textarea>
                        <button ng-click="addTextIngredients()">add</button>
                    </form>
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li ng-repeat="x in editingRecipe.ingredients" >
                            <a href="" ng-click="selectEditingIngredient($index)" ng-class="{bold : editingIngredientIndex === $index}">
                                <span ng-hide="x.count[0]==0">{{x.count[0]}}</span>
                                <span ng-hide="x.count[1]==0"> {{x.count[1]}}/{{x.count[2]}}</span>
                                <span ng-hide="x.count[0]==0 && x.count[1]==0"> </span>
                                <span>{{x.unit}} {{x.name}}</span>
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <form>
                        <input type="number" step="any" style="width:40px" min="0" ng-model="newIngredient.count[0]" />and
                        <input type="number" style="width:30px" min="0" ng-model="newIngredient.count[1]" />/
                        <input type="number" style="width:30px" min="2" ng-model="newIngredient.count[2]" />
                        <select ng-model="newIngredient.unit">
                            <option value="" disabled selected style="display:none;">Unit</option>
                            <option value="fl. oz.">Fluid Ounce</option>
                            <option value="tsp.">Teaspoon</option>
                            <option value="tbsp.">Tablespoon</option>
                            <option value="cup">Cup</option>
                            <option value="gal.">Gallon</option>
                            <option value="ml.">Milliliter</option>
                            <option value="l.">Liter</option>
                            <option value="oz.">Ounce</option>
                            <option value="lb.">Pound</option>
                            <option value="g.">Gram</option>
                            <option value="kg.">Kilogram</option>
                            <option value="">None</option>
                        </select>
                        <input type="text" style="height:20px" ng-model="newIngredient.name" placeholder="New Ingredient" />
                        <button ng-hide="editingIngredient" ng-click="addIngredient()">add</button>
                        <button ng-show="editingIngredient" ng-click="saveIngredient()">save</button>
                    </form>
                    <form ng-show="editingIngredient">
                        <span ng-show="editingIngredientIndex!=(editingRecipe.ingredients.length-1)" title="move ingredient down"><a href="" ng-click="moveIngredientDown()">down</a></span>
                        <span title="delete"><a href="" ng-click="removeIngredient()"><img src="../Images/deleteIcon.png" alt="delete item" height="15" width="15" /></a></span>
                        <span ng-show="editingIngredientIndex!=0" title="move ingredient up"><a href="" ng-click="moveIngredientUp()">up</a></span>
                    </form>
                </td>
                <td class="stats">
                    <p>Stats:</p>
                    <div class="stat">
                        <label for="meal">Meal: </label>
                        <select name="meal" ng-model="editingRecipe.stats.meal">
                            <option ng-value="meal" ng-repeat="meal in meals">{{meal}}</option>
                        </select>
                    </div>
                    <div class="stat">
                        <label for="meat">Meat: </label>
                        <select name="meat" ng-model="editingRecipe.stats.meat">
                            <option ng-value="meat" ng-repeat="meat in meats">{{meat}}</option>
                        </select>
                    </div>
                    <div class="stat">
                        <label>Prep Time: </label>
                        <label for="prepHours">Hours</label>
                        <select name="prepHours" ng-model="editingRecipe.stats.prepTime.hours">
                            <option ng-repeat="hour in [0,1,2,3,4,5,6,7,8,9,10,11,12]" value="{{hour}}">{{hour}}</option>
                        </select>
                        <label for="prepMins">Minutes</label>
                        <select name="prepMins" ng-model="editingRecipe.stats.prepTime.mins">
                            <option ng-repeat="mins in [0,5,10,15,20,25,30,35,40,45,50,55,60]" value="{{mins}}">{{mins}}</option>
                        </select>
                    </div>
                    <div class="stat">
                        <label>Cook Time: </label>
                        <label for="cookHours">Hours</label>
                        <select name="cookHours" ng-model="editingRecipe.stats.cookTime.hours">
                            <option ng-repeat="hour in [0,1,2,3,4,5,6,7,8,9,10,11,12]" value="{{hour}}">{{hour}}</option>
                        </select>
                        <label for="cookMins">Minutes</label>
                        <select name="precookMinspMins" ng-model="editingRecipe.stats.cookTime.mins">
                            <option ng-repeat="mins in [0,5,10,15,20,25,30,35,40,45,50,55,60]" value="{{mins}}">{{mins}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="steps">
                    <p>Cooking Instructions:</p>
                    <ol>
                        <li ng-repeat="step in editingRecipe.steps" ng-click="selectEditingStep($index)"  ng-class="{bold : editingStepIndex === $index}">
                            <span class="link">{{step}}</span>
                        </li>
                    </ol>
                    <hr />
                    <form ng-hide="editingStep" ng-submit="addStep()">
                        <input type="text" ng-model="newStep" placeholder="New Step" />
                        <button value="Submit">add</button>
                    </form>
                    <form ng-show="editingStep" ng-submit="saveStep()">
                        <input type="text" ng-model="newStep" />
                        <button value="Submit">save</button>
                    </form>
                    <form ng-show="editingStep">
                        <span ng-show="editingStepIndex != (editingRecipe.steps.length - 1)" title="move step down"><a href="" ng-click="moveStepDown(editingStepIndex)">down</a></span>
                        <span><a href="" ng-click="removeStep(editingStepIndex)" title="remove step"><img src="../Images/deleteIcon.png" height="15" width="15" /></a></span>
                        <span ng-show="editingStepIndex != 0" title="move step up"><a href="" ng-click="moveStepUp(editingStepIndex)">up</a></span>
                    </form>
                </td>
            </tr>
        </table>
    </article>
</section>
