@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Artful Cooking</title>
</head>
<body>
    <aside>

    </aside>
    <section>

    </section>
</body>
</html>
