<body ng-app="recipeApp">
    <section class="content-wrapper main-content clear-fix" ng-controller="homeCtrl">
        <h2>The Artful Life</h2>
        <p>artful - 1) performed with or showing art and skill 2) using or characterized by art and skill: DEXTEROUS 3) adroit in attaining an end usually by insinuating or indirect means: WILY. Shouldn’t mealtime be artful? The Artful Life is all about making the preparation and sharing of quality home cooked meals a pleasure rather than a chore and to do so requires creativity, skill, and maybe even a little wiliness. While we haven’t resolved the need to work at it, we did create this helpful system of templates that provide an artful planning experience at the user’s convenience. Each template works together to save time and prevent the necessity of redundant efforts of meal planning.</p>
        <hr />
        <h2>How do you use the templates?</h2>
        <p>You can do one step at a time and at your own leisure. Skip steps that are not important to you, or do it all in one go, whatever works for you. Here’s the order of operations:</p>
        <ol class="round">
            <li class="one">
                <h5>Artful Recipes</h5>
                <p>Copy and paste recipes from anywhere or manually input recipes into your Artful Recipes template —your organized recipe bank!</p>
            </li>
            <li class="two">
                <h5>The Artful Shopper</h5>
                <p>Choose your menu for the week or month, multiplying as desired.</p>
                <p>View or print your grocery lists - your organized shopping list bank.</p>
            </li>
            <li class="three">
                <h5>Artful Cooking</h5>
                <p>Here's all your directions for freezer cooking day and meal time.</p>
            </li>
        </ol>
    </section>
</body>