@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TipsAndAdvise</title>
</head>
<body>
    <h3>For Freezer Cooks</h3>
    <p>Chicken pot pie, delicious soups, fantastic homemade red beans and rice, pot roasts, maple salmon, yum. I didn’t cook like this every day when I had all the time in the world, but since I’ve been freezer cooking, this is exactly how I cook with only about an hour or two once a month with a little help from my friends -- and man, do we make it a party! Freezer Cooking isn’t a chore; it’s an event — a really great event with careful planning. I’ve been freezer cooking with friends from the beginning, and while the process is ingrained like a habit now, we certainly didn’t start that way. At first we started happy and ready for our culinary adventure, but a few hours in, we began to question why we even started. Stress. Agony. We were amateurs! The Artful Life templates were born out of a need to organize freezer cooking sessions and has developed over more than a year’s worth of monthly freezer sessions. Each template fills the kind of needs that come up in planning and executing freezer sessions. Use the guide below to learn how to streamline your cooking day.</p>
</body>
</html>
