/* main layout
----------------------------------------------------------*/
.link:hover{
    background-color: rgba(180, 60, 180, 0.75);
}

.purple-back {
    background-color: rgba(180, 60, 180, 0.75);
}
.title-link{
    border-bottom:2px solid rgba(180, 60, 180, 0.9);
    padding-bottom:2px;
    font-weight:bold;
}
.title-link:hover{
    background-color:rgba(180, 60, 180, 0.9);
}


aside ul p.store{
    font-weight:bold;
    border-bottom:1px solid grey;
}
aside.stores{
    float:right;
}

aside a {
    text-decoration: none;
    color: black;
    font-size: 17pt;
}

section.home {
    padding: 10px;
}

section textarea{
    min-width:250px;
    height:20px;
}
section ul{
    font-size:large;
}
article {
    height: 100%;
    overflow: auto;
}

table{
    font-size:14pt;
    width: 100%;
}
table.recipe form{
    border:1px solid black;
}
table.recipe p{
    font-weight:bold;
}
table.recipe table,th,tr,td{
    border:1px solid black;
}
table th{
    font-size:24pt;
    padding:8px;
    text-align:center;
}
table.recipe textarea{
    width:100%; 
    box-sizing:border-box;
    font-family:Josefin Slab;
    height:20px;
}
table.recipe textarea.recipeName{
    font-size:x-large;
    text-align:center;
    height:40px;
    font-weight:inherit;
}
table.recipe ul.ingredient{
    font-weight:normal;
    text-align:left;
}

table.recipe ul.ingredients li{
    margin: 5px 0;
}

table.recipe .stat {
    margin: 10px 0;
}

.selected{
    background-color:rgba(180, 60, 180, 0.75)
}

td.steps{
min-width:250px;
max-width:400px;
}

td.steps li {
    margin: 5px 0;
}

table.store p{ 
    font-weight:bold;
}
table.store td.delete{
    font-weight:bold;
    text-align:center;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* forms */

/* info and errors */


/* tables
----------------------------------------------------------*/

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 800px) {

    /* Nav
    ----------------------------------------------------------*/

    /* logo */

    /* login */

    /* menu */

    /* main layout
    ----------------------------------------------------------*/
    article {

    }


    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */

    /* forms */

    /* login page */

    /* footer
    ----------------------------------------------------------*/
}
